.experience-card {
	color: var(--lightest-slate);
}

.job-title {
	margin-bottom: 0;
}

.company-name {
	color: var(--teal);
}

.experience-card ul {
	color: var(--teal);
	list-style-type: square;
}

.work-dates {
	color: var(--light-gray);
	margin: 0;
}
