.navigation{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	position: fixed;
	background-color: rgba(42, 45, 61, 0.8);
	z-index: 999;
	overflow: hidden;
	
}

.nav-regular{
	margin-left: auto;
	padding-right: 20px
}

.nav-regular ul {
	display: flex;
	list-style-type: none;
	gap: 20px;
}

.nav-regular li {
	padding: 10px 15px;
}

.nav-collapsed {
	margin-left: auto;
	margin-top: 10px;
	display: none;
}
.nav-collapsed ul {
	list-style-type: none;
	gap: 20px;
	padding: 0;
}
.nav-collapsed li {
	text-align: center;
	margin: 40px auto 40px;
}

aside{
	position: fixed;
	width: min(75vw, 400px);
	top: 0px;
	right:0px;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1f212d;
	transform: translateX(0vw);
	transition-duration:250ms;
	transition-delay: 0ms;
}

@media screen and (max-width: 768px) {
	.navigation{
		background-color: rgba(42, 45, 61, 0);
	}
	.nav-collapsed{
		display: block;
	}

	.nav-regular{
		display:none;
	}
  }

.resume{
	padding: 10px 40px;
	border: 2px solid var(--teal);
	border-radius: 4px;
	transition-duration: 250ms;
	transition-delay: 0ms;
}
.resume:hover{
	background-color: rgba(188, 230, 253, 0.2);

}

#hamburger{
	width: 35px;
	height: 30px;
	position: relative;
	margin: 10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 99;
  }
  
#hamburger span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: var(--teal);
	border-radius: 19px;
	opacity: 1;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;

	
  }
  
  #hamburger span:nth-child(1) {
	top: 0px;
  }
  
  #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
	top: 10px;
  }
  
  #hamburger span:nth-child(4) {
	top: 20px;
  }
  
  #hamburger.open span:nth-child(1) {
	top: 10px;
	width: 0%;
	left: 5%;
  }
  
  #hamburger.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  #hamburger.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  #hamburger.open span:nth-child(4) {
	top: 12px;
	width: 0%;
	left: 5%;
  }

 

  